.mainNavbar {
	background: #282828;
}

.slicknavMenu {
	display: none;
}

.mainMenu {
	list-style: none;
}

.mainMenu li {
	display: inline-block;
	/* position: relative; */
}

.mainMenu li a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 50px;
	line-height: 1;
	padding: 17px 0;
	position: relative;
}

.mainMenu li:hover .subMenu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.mainMenu li:hover>a {
	color: #f51167;
}

.mainMenu .menuBarWrapper {
	position: relative;
}

.mainMenu .subMenu {
	position: absolute;
	list-style: none;
	/* width: 220px; */
	min-width: 50vw;
	display: flex;
	left: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	/* margin-top: 50px; */
	background: #fff;
	z-index: 99;
	/* -webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s; */
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.mainMenu .subMenu li {
	display: block;
}

.mainMenu .subMenu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 8px 20px;
}

.mainMenu .subMenu .subMenuLink {
	font-weight: bold;
}

.mainMenu .subMenu li a:hover {
	color: #f51167;
}

.navSwitch {
	display: none;
}
